<h1>CoffeeMakr</h1>
<h3>Keep track of your recipes.</h3> <br>

<% if @errors %>
    <%= @errors %>
<% end %>

<% if logged_in? %>
    <h2>You're currently logged in, <%= current_user.username %>. Would you like to <%= link_to "logout", logout_path %> or view your <%= link_to "profile?", user_path(current_user) %></h2> <br>
<% end %>

<p>
    <%= link_to "Login", login_path %>
    or
    <%= link_to "Signup", signup_path %>

    <br><br>

    <%= button_to "Log in with Google", '/auth/google_oauth2' %>
    
</p>