<div class="fields_with_errors">

<% if flash[:messages] %>
    <% flash[:messages].each do |message| %>
        <%= message %> <br><br>
    <% end %>
<% end %>

</div>

<%= form_for(@recipe) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %> <br><br>

    <%= f.label :description %>
    <%= f.text_area :description %> <br><br>

    <%= f.label :date_created %>
    <%= f.date_select :date_created, :order => [:month, :day, :year] %> <br><br>

    <%= collection_check_boxes(:recipe, :ingredient_ids, Ingredient.all.alphabetize, :id, :name) do |box| %> 
        <%= box.check_box + box.text %>
    <% end %> <br><br>

    <%= f.submit %>

<% end %>
