<h1>New Recipe!!</h1>

<%= form_for(@recipe) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %> <br><br>

    <%= f.label :description %>
    <%= f.text_area :description %> <br><br>

    <%= f.label :date_created %>
    <%= f.date_select :date_created %> <br><br>

    <%# needs to be able to select, then ADD to the current recipe and select another %>

    <%= collection_check_boxes(:recipe, :user_id, Ingredient.all, :id, :name) %> <br><br>
    

    <%= f.submit "Create" %>

<% end %>