<br>

<%= link_to "New Recipe", new_recipe_path %>


<h1><%= @recipe.name %></h1>

<h3><%= @recipe.description %></h3>
<p><%= @recipe.date_created %></p>

<ul>
<% @recipe.ingredients.each do |recipe| %>
    <li><%= recipe.name %></li>
<% end %>
</ul>

<br><br><br>

<% if recipe_owner?(@recipe) %>

<%= link_to "Edit Recipe", edit_recipe_path %>

<%= link_to "Delete Recipe", @recipe, method: "delete" %>

<% end %>