<br>

<%= link_to "New Recipe", new_recipe_path %>


<h1><%= @recipe.name %></h1>

<p>Posted on: <%= @recipe.date_created.strftime("%B %-d, %Y") %> by <b><%= @recipe.user.username %></b></p>

<h3>Description: <%= @recipe.description %></h3>


<%= link_to "View All Ingredients", recipe_ingredients_path(@recipe) %> <br><br>

<%= link_to "Leave A Review", new_recipe_review_path(@recipe) %>

<br><br>

<% if recipe_owner?(@recipe) %>

<%= link_to "Edit Recipe", edit_recipe_path %>

<%= link_to "Delete Recipe", @recipe, method: "delete" %>

<% end %> <br><br>



<% if !!@reviews %>
<h3>Reviews:</h3>
<ul>

<% @reviews.each do |review| %>
    <li><%= review.content %></li>
    <li><%= review.rating %></li>
<% end %>
</ul>
<% end %>