<h1><%= @user.username %>'s Profile</h1> <br>

<%= link_to 'Home', '/' %>

<%= link_to "All Recipes", recipes_path %> <br><br>

<%= link_to "Logout", logout_path %> <br><br>

<h3>Your Recipes:</h3>

<ul>
    <% @recipes.each do |recipe| %>
     <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
</ul> <br>

<%= link_to "New Recipe", new_recipe_path %>

