<h1><%= @user.username %>'s Profile</h1>

<h3>Your Recipes:</h3>

<ul>
    <% @recipes.each do |recipe| %>
     <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
</ul> <br>

<%= link_to "New Recipe", new_recipe_path %> <br><br><br>

<%= link_to "All Ingredients", '/ingredient-list' %> <br><br>

<%= link_to "My Reviewed Recipes", user_reviewed_recipes_path(@user) %> <br><br>

<%= link_to "New Ingredient", new_ingredient_path %>