<h1>New Review!!</h1>

<%= form_for(@review) do |f| %>

    <%= f.label "Review:" %>
    <%= f.text_area :content %> <br><br>

    <%= f.label :rating %>
    <%= select_tag(:rating, options_for_select([1, 2, 3, 4, 5]))%> <br><br>

    <%= f.submit %>

<% end %>