<h1>Review</h1>

<%= @review.user.username %> said about <%= @review.recipe.name %>:<br><br>

<%= @review.content %>

<br><br>

<%= @review.rating %> / 5

 <br><br>

 <% if review_owner?(@review) %>

<%= link_to "Edit Review", edit_review_path %>

<%= link_to "Delete Review", @review, method: "delete" %>

<% end %> <br>