<!DOCTYPE html>
<html>
  <head>
    <title>Coffeemakr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <br>

    <%= link_to 'Home', '/' %>

    <%= link_to "All Recipes", recipes_path %>

    <% if current_user != nil %>

    <%= link_to "Profile", user_path(current_user) %>

    <% else %>

    <%= link_to "Profile", login_path %>

    <% end %>

    <%= link_to "Logout", logout_path %> <br>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
